<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button" name="sections">
					<i class="fa fa-bars"></i> sections
				</button>
			</li>
			<li id="search-modal-btn">
				<button type="button" name="search">
					<i class="fa fa-search"></i><input type="text"value="search">
				</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button" name="Subscribe Now">
					<i class="fas fa-cog"></i> Subscribe Now
				</button>
			</li>
			<li id="sections-sidebar-btn">
				<button type="button" name="Log In">
					<i class="fas fa-cog"></i> Log In
				</button>
			</li>
			<li id="gear-dropdown-btn">
					<%= render partial: 'shared/gear_dropdown' %>
					<button type="button" name="button">
						<i class="fas fa-cog"></i>
					</button>
			</li>
		</ul>
	</nav>
</header>
