<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<button type="button" name="sections">sections</button>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<button type="button" name="search">search</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fas fa-cog"></i>
				<button type="button" name="Subscribe Now">Subscribe Now</button></li>
			<li id="sections-sidebar-btn">
				<i class="fas fa-cog"></i>
				<button type="button" name="Log In">Log In</button></li>
		</ul>
	</nav>
</header>
