.main-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid black;
}

.left-nav  ul,
.right-nav  ul {
  list-style-type: none;
}
.left-nav  ul li,
.right-nav  ul li {
  float: left;
}
.left-nav > ul > li {

}

.right-nav > ul > li {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav {
  // display: inline-flex;
}


.right-nav {
  // display: inline-flex;
}
